
<config>
    <modules>
        <Indian_CodImportExport>
            <version>0.0.1</version>
        </Indian_CodImportExport>
    </modules>
    <global>
        <helpers>
            <indian_codimportexport_helper>
                <class>Indian_CodImportExport_Helper</class>
            </indian_codimportexport_helper>
        </helpers>
        <models>
            <cod>
                <class>Indian_CodImportExport_Model</class>
                <resourceModel>cod_resource</resourceModel>
            </cod>
            <cod_resource>
                <class>Indian_CodImportExport_Model_Mysql4</class>
                <entities>
                    <postcode>
                        <table>cod_postcode</table>
                    </postcode>	
                </entities>
            </cod_resource>
        </models>
        <resources>
            <cod_setup>
                <setup>
                    <module>Indian_CodImportExport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cod_setup>
            <cod_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cod_write>
            <cod_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cod_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <indian_codimportexport_helper before="Mage_Adminhtml">Indian_CodImportExport_Adminhtml</indian_codimportexport_helper>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>