/**
 * This file is a container for custom CSS. You can use it to override the default styles of the theme.
 *
 * 1. Copy the file "SAMPLE.custom.css" and rename it to "custom.css".
 *    Otherwise this file will not be loded by Magento.
 * 2. Enable it in the admin panel.
 * 3. Uncomment slected sample styles or add your own CSS to override the default styles of the theme.
 *
 * Please refer to the user guide for more details.
 *
 */

/***************Css For Home Page Start*********************/
.header-regular .form-search{
    width: 80%;
}

.home_below_slider.below_main_slider {
    margin-bottom: 20px;
}

.section {
    padding: 0;
}


#subscribe-form .input-text {
    background-color: #cdc4bc;
    border: 1px solid #333333;
    float: left;
    color:#333333;
}

#subscribe-form .input-text:hover,#subscribe-form .input-text:focus{
    background-color: #ffffff;
    border-color: #eeeeee;
    color:#333333;
}

.sticker{
    border-radius:0%;
    height: 40px;
    width: 40px;
}

.sticker-wrapper.top-left{
    left:0px;
    top:0px;
}

.sticker-wrapper.top-right {
    right: 0;
    top: 0;
}

.item:hover .sticker{
    height: 45px;
    width: 45px;
}

.collapsible .block-title, .mobile-collapsible .block-title{
    border-bottom: 1px solid #fffae1;
}

.footer-primary h6{
    border-bottom: 1px solid #fffae1 !important;
    line-height: 36px !important;
}

.header .caret {
    border-top-color: #fff;
}

#mini-cart .caret {
    border-top-color: #000;
}

.fb-page,.fb-page span,.fb-page span iframe[style] { 
    width: 100% !important; 
}

.ib, .social-links a > span.icon{
    border-radius:0%;
}

.itemslider-new-wrapper .item{
    text-align: center;
}

.searchautocomplete .searchautocomplete-placeholder{
    top:42px !important; 
}

ul.disc li{
    list-style: square;
    padding:5px 0px;
}

#nav.nav-regular .classic ul > li {
    padding-bottom: 12px;
}


#nav .nav-panel--dropdown .classic a {
    border-bottom: 1px solid #BE1E2D;
    text-transform: none;
}

.products-grid .item:hover {
    outline: 1px solid #9E1F63;
    outline-offset: -2px;
}

/***************Css For Home Page End*********************/


/***************Css For Product Page Start*********************/
.img-box-style1 .product-image {
    padding: 0px !important;
}

.catalog-product-view .custom_product_default_message .feature.first {
    margin-top: 3px !important;
}

.catalog-product-view .custom_product_default_message .no-margin {
    line-height: 36px;
}

.catalog-product-view .product .ib, .catalog-product-view .product .feature > span.icon, .catalog-product-view .product .social-links a > span.icon {
    height: 36px;
    line-height: 36px;
    margin-right: 5px !important;
    width: 36px;
}

.custom_product_default_message .feature.indent{
    padding-left:0px;
}

.custom_product_default_message .feature.indent > .ic, .feature.indent > span.icon{
    margin-left: 0px;
}

.product_page_zipcode .paypal_wrapper{
    float: left;
    width: 48%;
}

.product_page_zipcode .other_wrapper{
    float: right;
    margin-left: 5px;
    width: 50%;
}

#floatingBarsG{
    position:relative;
    width:28px;
    height:35px;
    clear:both;
    text-align: center;
    display: none;
    margin-bottom: 10px;
    margin-left: 5px;
}

.blockG{
    position:absolute;
    background-color:rgb(255,255,255);
    width:4px;
    height:11px;
    border-radius:4px 4px 0 0;
    -o-border-radius:4px 4px 0 0;
    -ms-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    transform:scale(0.4);
    -o-transform:scale(0.4);
    -ms-transform:scale(0.4);
    -webkit-transform:scale(0.4);
    -moz-transform:scale(0.4);
    animation-name:fadeG;
    -o-animation-name:fadeG;
    -ms-animation-name:fadeG;
    -webkit-animation-name:fadeG;
    -moz-animation-name:fadeG;
    animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#rotateG_01{
    left:0;
    top:13px;
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
    transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
}

#rotateG_02{
    left:4px;
    top:4px;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
}

#rotateG_03{
    left:12px;
    top:1px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
    transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
}

#rotateG_04{
    right:4px;
    top:4px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}

#rotateG_05{
    right:0;
    top:13px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
    transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
}

#rotateG_06{
    right:4px;
    bottom:3px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    transform:rotate(135deg);
    -o-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
}

#rotateG_07{
    bottom:0;
    left:12px;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}

#rotateG_08{
    left:4px;
    bottom:3px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    transform:rotate(-135deg);
    -o-transform:rotate(-135deg);
    -ms-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    -moz-transform:rotate(-135deg);
}



@keyframes fadeG{
    0%{
        background-color:rgb(250,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes fadeG{
    0%{
        background-color:rgb(250,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes fadeG{
    0%{
        background-color:rgb(250,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes fadeG{
    0%{
        background-color:rgb(250,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes fadeG{
    0%{
        background-color:rgb(250,0,0);
    }

    100%{
        background-color:rgb(255,255,255);
    }
}

.catalog-product-view .product_page_zipcode select{
    width: 100%;
    height: 26px;
    padding:0px;
}

.catalog-product-view .product_zipcode_label{
    font-weight: bold;
}

.catalog-product-view .product_page_zipcode #india_error{
    margin-bottom: 10px;
}

.catalog-product-view .product_page_zipcode #india_success{
    margin-bottom: 10px;
}

.catalog-product-view .product-view .action-box{
    margin:10px 0px;
}

.product_page_zipcode .other_wrapper{
    float: right;
    margin-left: 5px;
    width: 50%;
}

.zipcode_warpper {
    margin-top: 17px;
}

#other_success{
    background-image: none;
    margin-top: 10px;
    padding: 10px !important;
}

#india_success{
    background-image: none;
    margin-top: 10px;
    padding: 10px !important;
}

#india_error{
    background-image: none;
    margin-top: 10px;
    padding: 10px !important;
}

.product_page_zipcode .paypal_wrapper{
    float: left;
    width: 48%;
}

.product_page_zipcode .other_wrapper{
    float: right;
    margin-left: 5px;
    width: 50%;
}

.custom_display_none{
    display:none;
}

.product_zipcode_label{
    color: #000;
}

#zipcode_india {
    border: 1px solid #e5e5e5;
    height: 26px !important;
    padding-left: 5px;
    width: 43%;
    float: left;
}

#zipcode_submit {
    font-size: 15px;
    height: 26px !important;
    line-height: 26px !important;
    width: 30%;
    float: right;
    margin-left: 5px;
}


.catalog-product-view .product-view .btn-cart, .catalog-product-view .btn-checkout {
    font-size: 15px;
}
.catalog-product-view .product-primary-column button {
    float: left;
    line-height: 36px;
    margin-right: 5px;
    min-width: 138px;
}

.add-to-cart.left-side .qty-wrapper {
    line-height: 36px;
}



/***************Css For Product Page End*********************/

/***************Css For Category Page Start*********************/


.catalog-category-view .pages li:hover{
    border-radius: 20%;
}

.catalog-category-view .pages li a:hover{
    border-radius: 20%;
}

.catalog-category-view .grid.ic.ic-grid:hover{
    border-radius: 20%;
}

.catalog-category-view .ic-list:hover{
    border-radius: 20%; 
}

.amshopby-slider-ui .ui-slider-range{
    background-color: #e5e5e5;
}

.amshopby-slider-ui .ui-slider-handle{
    background-color: #9E1F63;
    border:none;
}


.catalog-category-view dl {
    border: 1px solid #e5e5e5;
    padding: 10px !important;
}

.block-layered-nav .block-content > dl > dt{
    padding:5px;
    background-color: #9E1F63;
    color:#fff;
}

.block-layered-nav .block-content > dl > dd{
    margin-top: 10px;
    padding: 0px;
    margin-bottom: 20px;
}

.amshopby-slider-price{
    color: #000;
}

.amshopby-slider-price{
    color: #000;
}

#amshopby-price-from-slider{
    color: #000;
}

#amshopby-price-to-slider{
    color: #000;
}

.mCSB_container > li{
    margin-bottom: 5px;
}

.mCustomScrollbar input.input-text{
    border-left: none;
    border-right: none;
    border-top: none;
    height: 25px;
    padding: 2px;
    width: 100%;
}

.mCSB_container input.input-text:hover{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.ui-slider .ui-slider-handle{
    width: 5px;
}

.amshopby-attr-selected{
    color: #9E1F63;
}

.catalog-category-view .block-layered-nav dl dd ol > li > a{
    background-color: none;
}

.catalog-category-view .category-description.std p{
    color: #000 !important;
    text-align: justify;
}

.catalog-category-view .category-description p:empty {
    display: none !important;
}

.catalog-category-view .category-description{
    margin:10px 0;
}

.catalog-category-view .block-title span{
    font-weight: bold;
}

.catalog-category-view .sorter{
    float: left;
}

.catalog-category-view .toolbar .pager{
    float: right; 
    border-top: none;
}

.product-view .product-type-data, .product-view .product-type-data .price-box, .container1-wrapper, .container2-wrapper, .product-view .add-to-box, .category-products-grid .item, .products-list li.item, .remember-me-popup h3, .map-popup-heading{
    border:none;
}

.catalog-category-view .toolbar-bottom .sorter{
    display: block;
}

.catalog-category-view .toolbar-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.catalog-category-view .sorter,.catalog-category-view .pager{
    padding: 5px 0;
}

.catalog-category-view .toolbar select{
    height: auto;
    padding: 4px;
}

.catalog-category-view .sorter, .catalog-category-view .pager{
    line-height: 28px;
}

.sorter .view-mode .grid, .sorter .view-mode .list, .sorter .sort-by .category-asc, .sorter .sort-by .category-desc, .pager .pages .current, .pager .pages li a{
    height: 28px;
    line-height: 28px;
    width: 28px;
    font-size: 13px;
}

.catalog-category-view .pager .pages ol{
    vertical-align: top;
}

.catalog-category-view .block .actions, .section-line, .buttons-set, .toolbar{
    margin-bottom: 5px;
}

.catalog-category-view .toolbar-bottom .toolbar{
    margin-bottom: 0px;
}

.category-products-grid .item{
    padding-top: 1%;
    padding-bottom: 1%;
}

div.amshopby-overlay div{
    background-image: url(../images/circle_ajax.gif);
}

.catalog-category-view  .page-title h1{
    font-size: 24px;
    letter-spacing: 1px;
}

.select2-container{
    min-width: 20%;
}

.select2-container--default .select2-selection--single{
    border-radius: 0px;
    border: 1px solid #e5e5e5;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #000;
    font-size: 13px;
    line-height: 26px;
}

.select2-container--open .select2-dropdown--below{
    border:1px solid #e5e5e5;
    border-radius: 0px; 
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #9E1F63;
}

.select2-results__option{
    text-align: left;
    padding: 3px;
    line-height: 18px;
    padding-left: 8px;
}

.select2-container--default .select2-results__option[aria-selected="true"]{
    background-color: #e5e5e5;
    color :#000;
}

.catalog-category-view .sorter .sort-by{
    background: none;
}

.block-layered-nav .block-content > dl > dt::after{
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #fff;
    border-right: none;
}

.block-layered-nav .block-content.accordion-open > dl > dt.current:after {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #fff;
    border-bottom: none;
}

/***************Css For Category Page End*********************/


/***************Css For Responsive Start*********************/

@media screen and (max-width: 1280px){
    #zipcode_india{
        width: 38%;
    }

    #zipcode_submit{
        width: 28%;
    }

}

@media screen and (max-width: 960px){
    .product_page_zipcode .paypal_wrapper{
        width: 42%;
    }

    .product_page_zipcode .other_wrapper{
        width: 55%;
    }

    #zipcode_submit{
        padding:0px 20px;
    }

}    

@media screen and (max-width: 767px){
    .home_below_slider .grid12-4{
        margin-bottom: 20px;
    }

    .catalog-category-view dl{
        border:none;
    }

    .catalog-category-view .block-layered-nav .block-content > dl > dt {
        padding: 7px 10px 7px 25px;
        text-transform: none;
    }

    .product_page_zipcode .paypal_wrapper{
        width: 48%;
    }

    .product_page_zipcode .other_wrapper{
        width: 50%;
    }

    #zipcode_submit{
        width: 32%;
    }

    #zipcode_submit{
        padding:0px 25px;
    }

    #zipcode_india{
        width: 44%;
    }

}    

@media screen and (max-width: 640px){
    .product_page_zipcode .paypal_wrapper{
        width: 45%;
    }

    .product_page_zipcode .other_wrapper{
        width: 52%;
    }

    #zipcode_india{
        width: 42%;
    }

    #zipcode_submit{
        width: 25%;
    }
}    

@media screen and (max-width: 480px){

    .product_page_zipcode .paypal_wrapper{
        width: 43%;
    }

    .product_page_zipcode .other_wrapper{
        width: 51%;
    }

    .product_page_zipcode .paypal_wrapper{
        width: 41%;
    }

    .product_page_zipcode .other_wrapper{
        width: 57%;
    }

    #zipcode_india{
        width: 41%;
    }

    #zipcode_submit{
        width: 21%;
    }
}    

/***************Css For Responsive End*********************/