<?xml version="1.0"?>
	<config>
		<modules>
			<Mage_Smtp>
				<version>0.1.0</version>
			</Mage_Smtp>
		</modules>
		<global>
			<models>
				<core>
					<rewrite>
						<email_template>Mage_Smtp_Model_Email_Template</email_template>
						<email>Mage_Smtp_Model_Email</email>
					</rewrite>
				</core>
			</models>
		</global>
		<adminhtml>
			<translate>
				<modules>
					<Mage_Smtp>
						<files>
							<default>Mage_Smtp.csv</default>
						</files>
					</Mage_Smtp>
				</modules>
			</translate>
			<acl>
				<resources>
					<admin>
						<children>
							<system>
								<children>
									<config>
										<children>
											<smtp>
												<title>KSV Smtp Module Settings</title>
											</smtp>
										</children>
									</config>
								</children>
							</system>
						</children>
					</admin>
				</resources>
			</acl>
		</adminhtml>
		<default>
			<smtp>
				<settings>
					<enabled>0</enabled>
					<auth>login</auth>
					<username></username>
					<password></password>
					<ssl>0</ssl>
					<host>localhost</host>
					<port>25</port>
					<ssltype></ssltype>
				</settings>
			</smtp>
		</default>
</config>
